<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>597697529529-33q6d5hdq2mvm27lps4gdm0rsmh5ab5c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.597697529529-33q6d5hdq2mvm27lps4gdm0rsmh5ab5c</string>
	<key>API_KEY</key>
	<string>AIzaSyAHuM2xKm4hldo0StdJ_h8ZSZj8foxqZzc</string>
	<key>GCM_SENDER_ID</key>
	<string>597697529529</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.godoggydate.app</string>
	<key>PROJECT_ID</key>
	<string>godoggydate</string>
	<key>STORAGE_BUCKET</key>
	<string>godoggydate.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:597697529529:ios:740c4917f4c08e2d543d68</string>
</dict>
</plist>